### Step 1. Load required packages

In [1]:
import pandas as pd
import pandasql as ps
from pathlib import Path
workFolder = '/content/drive/Shareddrives/Esperanto/Supports/Suppliers/Work/1_Suppliers_Interface'

### Step 2. Read required data

In [2]:
reducedDf = pd.read_csv(Path(workFolder,'reducedDf.csv'), encoding='utf-8')
duplicateRecordsWithClassificationDf = pd.read_csv(Path(workFolder,'duplicateRecordsWithClassificationDf.csv'), encoding='utf-8')

### Step 3 - Identify Scenarios - Cases with more observations

In [3]:
sql_query = '''
SELECT numObs,COUNT(*) AS numCases FROM duplicateRecordsWithClassificationDf
GROUP BY numObs
ORDER BY numCases DESC
'''
result = ps.sqldf(sql_query)
for index, row in result.iterrows():
    print(row['numObs'],row['numCases'])

2 65407
3 11252
4 1634
5 25
6 6
7 1
8 1
10 1

### Step 4 - Analisis of specific scenario

In [4]:
sql_query = '''
SELECT multiple_feeds,multiples_ids,multiples_names,COUNT(*) AS numCases FROM
(SELECT * FROM duplicateRecordsWithClassificationDf
WHERE numObs=2)
GROUP BY multiple_feeds,multiples_ids,multiples_names
ORDER BY numCases DESC
'''
result = ps.sqldf(sql_query)
for index, row in result.iterrows():
    print(row['multiple_feeds'], row['multiples_ids'], row['multiples_names'], row['numCases'])

1 0 0 64670
1 0 1 733
1 1 0 3
0 1 0 1

In [5]:
print(reducedDf.head(100))

    Unnamed: 0 SISTEMA_LEGADO NUMERO_PROVEEDOR  \
0            0     CONSTRUNET            15239
1            1     CONSTRUNET            15795
2            2     CONSTRUNET            16109
3            3     CONSTRUNET            18077
4            4     CONSTRUNET            18785
..         ...            ...              ...
95          95         GASTOS    AIVC791215IM5
96          96         GASTOS     AMG960314812
97          97         GASTOS     ANO840306PL5
98          98         GASTOS    AOCJ920325N61
99          99         GASTOS    AOCP8411225Z1

                               VENDOR_NAME       NUM_1099
0             GRUPO SANDSTORM GAM SA DE CV   GSG010404212
1          JORGE GUADALUPE RODRIGUEZ OCHOA  ROOJ570206L7A
2                       SERNA RAMIREZ CRUZ  SERC660826UZ9
3         ELIZABETH ARACELI RIVAS ESPINOZA  RIEE641221PS4
4            CEMENTO EXPRESS S DE RL DE CV   CEX010613652
..                                     ...            ...
95           AVILA VAZQUEZ CLAUDIA GALICIA  AIVC791215IM5
96  ARRENDADORA DE MAQUINARIA DEL GOLFO SA   AMG960314812
97         AUTOMOTRIZ DEL NORESTE SA DE CV   ANO840306PL5
98               ANTONIO DE LA CRUZ JANETH  AOCJ920325N61
99                       ACOSTA CEJA PEDRO  AOCP8411225Z1

[100 rows x 5 columns]

In [8]:
sql_query = '''
SELECT B.SISTEMA_LEGADO,B.NUMERO_PROVEEDOR,B.VENDOR_NAME,A.NUM_1099,
A.numObs,A.caseNum,A.multiple_feeds,A.multiple_ids,A.multiple_name
FROM
(SELECT NUM_1099,numObs,caseNum,multiple_feeds,multiple_ids,multiple_names
FROM duplicateRecordsWithClassificationDf
WHERE numObs=1 AND multiple_feeds=1 AND multiples_ids=0 AND multiples_names=0) AS A
LEFT JOIN
(SELECT SISTEMA_LEGADO,NUMERO_PROVEEDOR,VENDOR_NAME,NUM_1099 FROM reducedDf) AS B
ON (A.NUM_1099=B.NUM_1099)
ORDER BY A.NUM_1099
'''
result = ps.sqldf(sql_query)

PandaSQLException: (sqlite3.OperationalError) no such column: multipleFeeds
[SQL:
SELECT B.SISTEMA_LEGADO,B.NUMERO_PROVEEDOR,B.VENDOR_NAME,A.NUM_1099,
A.numObs,A.caseNum,A.multipleFeeds,A.multiple_ids,A.multiple_name
FROM
(SELECT NUM_1099,numObs,caseNum,multipleFeeds,multiple_ids,multiple_names
FROM duplicateRecordsWithClassificationDf
WHERE numObs=1 AND multiple_feeds=1 AND multiples_ids=0 AND multiples_names=0) AS A
LEFT JOIN
(SELECT SISTEMA_LEGADO,NUMERO_PROVEEDOR,VENDOR_NAME,NUM_1099 FROM reducedDf) AS B
ON (A.NUM_1099=B.NUM_1099)
ORDER BY A.NUM_1099
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)