## Data from File 4 Suppliers Sites Assignments

### Step 1. Load required package

In [1]:
import pandas as pd
import pandasql as ps
from pathlib import Path

### Step 2 - Get sample from source file

In [2]:
sourceFolder = '/content/drive/Shareddrives/Esperanto/Supports/Suppliers/4_Suppliers_Site_Assignments'
workFolder = '/content/drive/Shareddrives/Esperanto/Supports/Suppliers/Work/5_Bank_Accounts'
fileName = '4. SUPPLIER_SITE_ASSIGNMENT_COPPEL.csv'
inputTextFile = open(Path(sourceFolder, fileName), 'r', encoding='latin-1')
if inputTextFile:
    numTextLines = 0
    while True:
        numTextLines += 1
        textLine = inputTextFile.readline()
        print(textLine)
        if numTextLines >10:
            break
    inputTextFile.close()

'SISTEMA_LEGADO';'NUMERO_PROVEEDOR';'BATCH_ID';'IMPORT_ACTION';'VENDOR_NAME';'VENDOR_SITE_CODE';'PROCUREMENT_BUSINESS_UNIT_NAME';'BUSINESS_UNIT_NAME';'BILL_TO_BU_NAME';'SHIP_TO_LOCATION_CODE';'BILL_TO_LOCATION_CODE';'ALLOW_AWT_FLAG';'AWT_GROUP_NAME';'ACCTS_PAY_CONCATENATED_SEGMENTS';'ACCTS_PAY_CONCATENATED_SEGMENTS1';'FUTURE_DATED_PAYMENT_CONCATENATED_SEGMENTS';'DISTRIBUTION_SET_NAME';'INACTIVE_DATE'

'SAJ';'3';'';'CREATE';'';'SJ3MXN004';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'OBRAS';'GAVE860528F18';'';'CREATE';'0 VERGARA EFRAIN';'SOGAVE860528F18';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'OBRAS';'CST050404CH3';'';'CREATE';'04 ST SC';'SOCST050404CH3';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'GASTOS';'BIO111108JC6';'';'CREATE';'100% BIORESPONSABLES SA DE CV';'GTBIO111108JC6';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'OBRAS';'BIO111108JC6';'';'CREATE';'100% BIORESPONSABLES SA DE CV';'SOBIO111108JC6';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'OBRAS';'CDC150325SZ0';'';'CREATE';'102 CONSTRUCTORES SA DE CV';'SOCDC150325SZ0';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'GASTOS';'DSE090511EW5';'';'CREATE';'12 SUAREZ EDIFICACIONES SA DE CV';'GTDSE090511EW5';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'OBRAS';'DSE090511EW5';'';'CREATE';'12 SUAREZ EDIFICACIONES SA DE CV';'SODSE090511EW5';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'GASTOS';'TVC8607234U2';'';'CREATE';'13 29 CONSTRUCCIONES SA DE CV';'GTTVC8607234U2';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'OBRAS';'TVC8607234U2';'';'CREATE';'13 29 CONSTRUCCIONES SA DE CV';'SOTVC8607234U2';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

### Step 3 - Load supplier site assignment data

In [3]:
df = pd.read_csv(Path(sourceFolder,fileName), sep=';', quotechar=chr(39), encoding='latin-1')
print(df.head(10))
print(len(df.index), ' records found. ')

  SISTEMA_LEGADO NUMERO_PROVEEDOR  BATCH_ID IMPORT_ACTION  \
0            SAJ                3       NaN        CREATE
1          OBRAS    GAVE860528F18       NaN        CREATE
2          OBRAS     CST050404CH3       NaN        CREATE
3         GASTOS     BIO111108JC6       NaN        CREATE
4          OBRAS     BIO111108JC6       NaN        CREATE
5          OBRAS     CDC150325SZ0       NaN        CREATE
6         GASTOS     DSE090511EW5       NaN        CREATE
7          OBRAS     DSE090511EW5       NaN        CREATE
8         GASTOS     TVC8607234U2       NaN        CREATE
9          OBRAS     TVC8607234U2       NaN        CREATE

                        VENDOR_NAME VENDOR_SITE_CODE  \
0                               NaN        SJ3MXN004
1                  0 VERGARA EFRAIN  SOGAVE860528F18
2                          04 ST SC   SOCST050404CH3
3     100% BIORESPONSABLES SA DE CV   GTBIO111108JC6
4     100% BIORESPONSABLES SA DE CV   SOBIO111108JC6
5        102 CONSTRUCTORES SA DE CV   SOCDC150325SZ0
6  12 SUAREZ EDIFICACIONES SA DE CV   GTDSE090511EW5
7  12 SUAREZ EDIFICACIONES SA DE CV   SODSE090511EW5
8     13 29 CONSTRUCCIONES SA DE CV   GTTVC8607234U2
9     13 29 CONSTRUCCIONES SA DE CV   SOTVC8607234U2

  PROCUREMENT_BUSINESS_UNIT_NAME BUSINESS_UNIT_NAME BILL_TO_BU_NAME  \
0                       BU_CSACV           BU_CSACV        BU_CSACV
1                       BU_CSACV           BU_CSACV        BU_CSACV
2                       BU_CSACV           BU_CSACV        BU_CSACV
3                       BU_CSACV           BU_CSACV        BU_CSACV
4                       BU_CSACV           BU_CSACV        BU_CSACV
5                       BU_CSACV           BU_CSACV        BU_CSACV
6                       BU_CSACV           BU_CSACV        BU_CSACV
7                       BU_CSACV           BU_CSACV        BU_CSACV
8                       BU_CSACV           BU_CSACV        BU_CSACV
9                       BU_CSACV           BU_CSACV        BU_CSACV

   SHIP_TO_LOCATION_CODE  BILL_TO_LOCATION_CODE ALLOW_AWT_FLAG  \
0                    NaN                    NaN              N
1                    NaN                    NaN              N
2                    NaN                    NaN              N
3                    NaN                    NaN              N
4                    NaN                    NaN              N
5                    NaN                    NaN              N
6                    NaN                    NaN              N
7                    NaN                    NaN              N
8                    NaN                    NaN              N
9                    NaN                    NaN              N

   AWT_GROUP_NAME ACCTS_PAY_CONCATENATED_SEGMENTS  \
0             NaN                             NaN
1             NaN                             NaN
2             NaN                             NaN
3             NaN                             NaN
4             NaN                             NaN
5             NaN                             NaN
6             NaN                             NaN
7             NaN                             NaN
8             NaN                             NaN
9             NaN                             NaN

   ACCTS_PAY_CONCATENATED_SEGMENTS1  \
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
5                               NaN
6                               NaN
7                               NaN
8                               NaN
9                               NaN

   FUTURE_DATED_PAYMENT_CONCATENATED_SEGMENTS  DISTRIBUTION_SET_NAME  \
0                                         NaN                    NaN
1                                         NaN                    NaN
2                                         NaN                    NaN
3                                         NaN                    NaN
4                                         NaN                    NaN
5                                         NaN                    NaN
6                                         NaN                    NaN
7                                         NaN                    NaN
8                                         NaN                    NaN
9                                         NaN                    NaN

  INACTIVE_DATE
0    1900-01-01
1    1900-01-01
2    1900-01-01
3    1900-01-01
4    1900-01-01
5    1900-01-01
6    1900-01-01
7    1900-01-01
8    1900-01-01
9    1900-01-01
186259  records found.

In [4]:
df.dtypes

SISTEMA_LEGADO                                 object
NUMERO_PROVEEDOR                               object
BATCH_ID                                      float64
IMPORT_ACTION                                  object
VENDOR_NAME                                    object
VENDOR_SITE_CODE                               object
PROCUREMENT_BUSINESS_UNIT_NAME                 object
BUSINESS_UNIT_NAME                             object
BILL_TO_BU_NAME                                object
SHIP_TO_LOCATION_CODE                         float64
BILL_TO_LOCATION_CODE                         float64
ALLOW_AWT_FLAG                                 object
AWT_GROUP_NAME                                float64
ACCTS_PAY_CONCATENATED_SEGMENTS                object
ACCTS_PAY_CONCATENATED_SEGMENTS1              float64
FUTURE_DATED_PAYMENT_CONCATENATED_SEGMENTS    float64
DISTRIBUTION_SET_NAME                         float64
INACTIVE_DATE                                  object
dtype: object

### Step 4 - Creates a modified dataset with key field as strings

In [5]:
modDf = df
modDf['SISTEMA_LEGADO']=modDf['SISTEMA_LEGADO'].astype(pd.StringDtype())
modDf['NUMERO_PROVEEDOR']=modDf['NUMERO_PROVEEDOR'].astype(pd.StringDtype())
modDf['IMPORT_ACTION']=modDf['IMPORT_ACTION'].astype(pd.StringDtype())
modDf['VENDOR_NAME']=modDf['VENDOR_NAME'].astype(pd.StringDtype())
modDf['VENDOR_SITE_CODE']=modDf['VENDOR_SITE_CODE'].astype(pd.StringDtype())
modDf['PROCUREMENT_BUSINESS_UNIT_NAME']=modDf['PROCUREMENT_BUSINESS_UNIT_NAME'].astype(pd.StringDtype())
modDf['BUSINESS_UNIT_NAME']=modDf['BUSINESS_UNIT_NAME'].astype(pd.StringDtype())
modDf['BILL_TO_BU_NAME']=modDf['BILL_TO_BU_NAME'].astype(pd.StringDtype())
modDf['ALLOW_AWT_FLAG']=modDf['ALLOW_AWT_FLAG'].astype(pd.StringDtype())
modDf['BILL_TO_BU_NAME']=modDf['BILL_TO_BU_NAME'].astype(pd.StringDtype())
modDf['ACCTS_PAY_CONCATENATED_SEGMENTS']=modDf['ACCTS_PAY_CONCATENATED_SEGMENTS'].astype(pd.StringDtype())
modDf['INACTIVE_DATE']=modDf['INACTIVE_DATE'].astype(pd.StringDtype())
print(modDf.head(10))
print(modDf.dtypes)

  SISTEMA_LEGADO NUMERO_PROVEEDOR  BATCH_ID IMPORT_ACTION  \
0            SAJ                3       NaN        CREATE
1          OBRAS    GAVE860528F18       NaN        CREATE
2          OBRAS     CST050404CH3       NaN        CREATE
3         GASTOS     BIO111108JC6       NaN        CREATE
4          OBRAS     BIO111108JC6       NaN        CREATE
5          OBRAS     CDC150325SZ0       NaN        CREATE
6         GASTOS     DSE090511EW5       NaN        CREATE
7          OBRAS     DSE090511EW5       NaN        CREATE
8         GASTOS     TVC8607234U2       NaN        CREATE
9          OBRAS     TVC8607234U2       NaN        CREATE

                        VENDOR_NAME VENDOR_SITE_CODE  \
0                              <NA>        SJ3MXN004
1                  0 VERGARA EFRAIN  SOGAVE860528F18
2                          04 ST SC   SOCST050404CH3
3     100% BIORESPONSABLES SA DE CV   GTBIO111108JC6
4     100% BIORESPONSABLES SA DE CV   SOBIO111108JC6
5        102 CONSTRUCTORES SA DE CV   SOCDC150325SZ0
6  12 SUAREZ EDIFICACIONES SA DE CV   GTDSE090511EW5
7  12 SUAREZ EDIFICACIONES SA DE CV   SODSE090511EW5
8     13 29 CONSTRUCCIONES SA DE CV   GTTVC8607234U2
9     13 29 CONSTRUCCIONES SA DE CV   SOTVC8607234U2

  PROCUREMENT_BUSINESS_UNIT_NAME BUSINESS_UNIT_NAME BILL_TO_BU_NAME  \
0                       BU_CSACV           BU_CSACV        BU_CSACV
1                       BU_CSACV           BU_CSACV        BU_CSACV
2                       BU_CSACV           BU_CSACV        BU_CSACV
3                       BU_CSACV           BU_CSACV        BU_CSACV
4                       BU_CSACV           BU_CSACV        BU_CSACV
5                       BU_CSACV           BU_CSACV        BU_CSACV
6                       BU_CSACV           BU_CSACV        BU_CSACV
7                       BU_CSACV           BU_CSACV        BU_CSACV
8                       BU_CSACV           BU_CSACV        BU_CSACV
9                       BU_CSACV           BU_CSACV        BU_CSACV

   SHIP_TO_LOCATION_CODE  BILL_TO_LOCATION_CODE ALLOW_AWT_FLAG  \
0                    NaN                    NaN              N
1                    NaN                    NaN              N
2                    NaN                    NaN              N
3                    NaN                    NaN              N
4                    NaN                    NaN              N
5                    NaN                    NaN              N
6                    NaN                    NaN              N
7                    NaN                    NaN              N
8                    NaN                    NaN              N
9                    NaN                    NaN              N

   AWT_GROUP_NAME ACCTS_PAY_CONCATENATED_SEGMENTS  \
0             NaN                             NaN
1             NaN                             NaN
2             NaN                             NaN
3             NaN                             NaN
4             NaN                             NaN
5             NaN                             NaN
6             NaN                             NaN
7             NaN                             NaN
8             NaN                             NaN
9             NaN                             NaN

   ACCTS_PAY_CONCATENATED_SEGMENTS1  \
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
5                               NaN
6                               NaN
7                               NaN
8                               NaN
9                               NaN

   FUTURE_DATED_PAYMENT_CONCATENATED_SEGMENTS  DISTRIBUTION_SET_NAME  \
0                                         NaN                    NaN
1                                         NaN                    NaN
2                                         NaN                    NaN
3                                         NaN                    NaN
4                                         NaN                    NaN
5                                         NaN                    NaN
6                                         NaN                    NaN
7                                         NaN                    NaN
8                                         NaN                    NaN
9                                         NaN                    NaN

  INACTIVE_DATE
0    1900-01-01
1    1900-01-01
2    1900-01-01
3    1900-01-01
4    1900-01-01
5    1900-01-01
6    1900-01-01
7    1900-01-01
8    1900-01-01
9    1900-01-01
SISTEMA_LEGADO                                 string
NUMERO_PROVEEDOR                               string
BATCH_ID                                      float64
IMPORT_ACTION                                  string
VENDOR_NAME                                    string
VENDOR_SITE_CODE                               string
PROCUREMENT_BUSINESS_UNIT_NAME                 string
BUSINESS_UNIT_NAME                             string
BILL_TO_BU_NAME                                string
SHIP_TO_LOCATION_CODE                         float64
BILL_TO_LOCATION_CODE                         float64
ALLOW_AWT_FLAG                                 string
AWT_GROUP_NAME                                float64
ACCTS_PAY_CONCATENATED_SEGMENTS                object
ACCTS_PAY_CONCATENATED_SEGMENTS1              float64
FUTURE_DATED_PAYMENT_CONCATENATED_SEGMENTS    float64
DISTRIBUTION_SET_NAME                         float64
INACTIVE_DATE                                  string
dtype: object

### Step 5 - Reads Data in Scope

In [6]:
dataInScopeDf = pd.read_csv(Path(workFolder, 'SupplierBUAndVSTDf.csv'), encoding='utf-8')
print(dataInScopeDf.head(10))
print(len(dataInScopeDf.index), ' records found.')

   Unnamed: 0 NUMERO_PROVEEDOR BUSINESS_UNIT VENDOR_SITE_CODE
0           0     &JE040614N51      BU_CSACV   GT&JE040614N51
1           1     &JE040614N51      BU_CSACV   SO&JE040614N51
2           2    00AL570409DC8      BU_CSACV  GT00AL570409DC8
3           3    00AL570409DC8      BU_CSACV  SO00AL570409DC8
4           4    00BR5103152L7      BU_CSACV  SO00BR5103152L7
5           5    00BR5103152L7      BU_CSACV  GT00BR5103152L7
6           6    00CE810603TI4      BU_CSACV  SO00CE810603TI4
7           7    00CE810603TI4      BU_CSACV  GT00CE810603TI4
8           8             1482      BU_CSACV     SA1482MXN000
9           9             1482      BU_CSACV           NA1482
164357  records found.

### Step 6 - Get Tax Id's or Supplier Id's, business_unit and vendor site code in scope

In [7]:
sql_query = '''
SELECT NUMERO_PROVEEDOR,VENDOR_SITE_CODE FROM
(SELECT DISTINCT NUMERO_PROVEEDOR,VENDOR_SITE_CODE FROM dataInScopeDf)
ORDER BY NUMERO_PROVEEDOR ASC
'''
SupplierAndVSCInScope = ps.sqldf(sql_query)
SupplierAndVSCInScope['NUMERO_PROVEEDOR']=SupplierAndVSCInScope['NUMERO_PROVEEDOR'].astype(pd.StringDtype())
SupplierAndVSCInScope['VENDOR_SITE_CODE']=SupplierAndVSCInScope['VENDOR_SITE_CODE'].astype(pd.StringDtype())
#
print(SupplierAndVSCInScope.dtypes)
print(len(SupplierAndVSCInScope.index), ' suppliers,business units and vendor site codes in scope.')
print(SupplierAndVSCInScope.head(10))
sql_query = '''
SELECT DISTINCT NUMERO_PROVEEDOR FROM SupplierAndVSCInScope
'''
SuppliersInScope = ps.sqldf(sql_query)
SuppliersInScope['NUMERO_PROVEEDOR']=SuppliersInScope['NUMERO_PROVEEDOR'].astype(pd.StringDtype())
print(SuppliersInScope.dtypes)
print(len(SuppliersInScope.index), ' suppliers,business units and vendor site codes in scope.')
print(SuppliersInScope.head(10))

NUMERO_PROVEEDOR    string
VENDOR_SITE_CODE    string
dtype: object
164357  suppliers,business units and vendor site codes in scope.
  NUMERO_PROVEEDOR VENDOR_SITE_CODE
0     &JE040614N51   GT&JE040614N51
1     &JE040614N51   SO&JE040614N51
2    00AL570409DC8  GT00AL570409DC8
3    00AL570409DC8  SO00AL570409DC8
4    00BR5103152L7  SO00BR5103152L7
5    00BR5103152L7  GT00BR5103152L7
6    00CE810603TI4  SO00CE810603TI4
7    00CE810603TI4  GT00CE810603TI4
8             1482     SA1482MXN000
9             1482           NA1482
NUMERO_PROVEEDOR    string
dtype: object
76565  suppliers,business units and vendor site codes in scope.
  NUMERO_PROVEEDOR
0     &JE040614N51
1    00AL570409DC8
2    00BR5103152L7
3    00CE810603TI4
4             1482
5            15020
6            15025
7            15026
8            15039
9            15043

### Step 5 - Merge Suppliers,business units and vendor site codes with Table 4 data

In [8]:
subSetDf = pd.merge(SupplierAndVSCInScope, modDf, on=['NUMERO_PROVEEDOR','VENDOR_SITE_CODE'], how='left')
subSetDf = subSetDf[subSetDf['PROCUREMENT_BUSINESS_UNIT_NAME'].notna()]
print(len(subSetDf.index), ' records obtained.')
print(subSetDf.head(10))

164488  records obtained.
  NUMERO_PROVEEDOR VENDOR_SITE_CODE      SISTEMA_LEGADO  BATCH_ID  \
0     &JE040614N51   GT&JE040614N51              GASTOS       NaN
1     &JE040614N51   SO&JE040614N51               OBRAS       NaN
2    00AL570409DC8  GT00AL570409DC8              GASTOS       NaN
3    00AL570409DC8  SO00AL570409DC8               OBRAS       NaN
4    00BR5103152L7  SO00BR5103152L7               OBRAS       NaN
5    00BR5103152L7  GT00BR5103152L7              GASTOS       NaN
6    00CE810603TI4  SO00CE810603TI4               OBRAS       NaN
7    00CE810603TI4  GT00CE810603TI4              GASTOS       NaN
8             1482     SA1482MXN000         PORTAL SARI       NaN
9             1482           NA1482  NEGOCIOS AFILIADOS       NaN

  IMPORT_ACTION                   VENDOR_NAME PROCUREMENT_BUSINESS_UNIT_NAME  \
0        CREATE  A & J EXPORTACIONES SA DE CV                       BU_CSACV
1        CREATE  A & J EXPORTACIONES SA DE CV                       BU_CSACV
2        CREATE      OSORIO ALVAREZ JOSE LUIS                       BU_CSACV
3        CREATE      OSORIO ALVAREZ JOSE LUIS                       BU_CSACV
4        CREATE        ORDOÑEZ BARBA RAYMUNDO                       BU_CSACV
5        CREATE        ORDOÑEZ BARBA RAYMUNDO                       BU_CSACV
6        CREATE             OROSCO CORIA EMMA                       BU_CSACV
7        CREATE             OROSCO CORIA EMMA                       BU_CSACV
8        CREATE    CHONG BARRERA OSCAR EMILIO                       BU_CSACV
9        CREATE    PROCOMEX MAZATLAN SA DE CV                       BU_CSACV

  BUSINESS_UNIT_NAME BILL_TO_BU_NAME  SHIP_TO_LOCATION_CODE  \
0           BU_CSACV        BU_CSACV                    NaN
1           BU_CSACV        BU_CSACV                    NaN
2           BU_CSACV        BU_CSACV                    NaN
3           BU_CSACV        BU_CSACV                    NaN
4           BU_CSACV        BU_CSACV                    NaN
5           BU_CSACV        BU_CSACV                    NaN
6           BU_CSACV        BU_CSACV                    NaN
7           BU_CSACV        BU_CSACV                    NaN
8           BU_CSACV        BU_CSACV                    NaN
9           BU_CSACV        BU_CSACV                    NaN

   BILL_TO_LOCATION_CODE ALLOW_AWT_FLAG  AWT_GROUP_NAME  \
0                    NaN              N             NaN
1                    NaN              N             NaN
2                    NaN              N             NaN
3                    NaN              N             NaN
4                    NaN              N             NaN
5                    NaN              N             NaN
6                    NaN              N             NaN
7                    NaN              N             NaN
8                    NaN              N             NaN
9                    NaN              N             NaN

  ACCTS_PAY_CONCATENATED_SEGMENTS  ACCTS_PAY_CONCATENATED_SEGMENTS1  \
0                             NaN                               NaN
1                             NaN                               NaN
2                             NaN                               NaN
3                             NaN                               NaN
4                             NaN                               NaN
5                             NaN                               NaN
6                             NaN                               NaN
7                             NaN                               NaN
8                             NaN                               NaN
9                             NaN                               NaN

   FUTURE_DATED_PAYMENT_CONCATENATED_SEGMENTS  DISTRIBUTION_SET_NAME  \
0                                         NaN                    NaN
1                                         NaN                    NaN
2                                         NaN                    NaN
3                                         NaN                    NaN
4                                         NaN                    NaN
5                                         NaN                    NaN
6                                         NaN                    NaN
7                                         NaN                    NaN
8                                         NaN                    NaN
9                                         NaN                    NaN

  INACTIVE_DATE
0    1900-01-01
1    1900-01-01
2    1900-01-01
3    1900-01-01
4    1900-01-01
5    1900-01-01
6    1900-01-01
7    1900-01-01
8    1900-01-01
9    1900-01-01

### Step 6 - Validate Legacy Systems in Scope

In [9]:
legacySystemsFound = subSetDf.SISTEMA_LEGADO.unique()
print(len(legacySystemsFound), ' records found.')
print(list(legacySystemsFound))

14  records found.
['GASTOS', 'OBRAS', 'PORTAL SARI', 'NEGOCIOS AFILIADOS', 'SIM', 'CONSTRUNET', 'REFACCIONARIA', 'RXMENU', 'MXMENU', 'MUEBLES', 'TECNOLOGIA', 'SIE', 'MARKETPLACE', 'MOTOR DE SEGUIMIENTO']

### Steps 7 - check distribution of records per legacy system

In [10]:
sql_query = '''
SELECT SISTEMA_LEGADO,COUNT(*) AS numObs FROM subSetDf
GROUP BY SISTEMA_LEGADO
ORDER BY numObs DESC
'''
distPerLegacySystemDf = ps.sqldf(sql_query)
for index, row in distPerLegacySystemDf.iterrows():
    print(row['SISTEMA_LEGADO'], ',', row['numObs'])

GASTOS , 74690
OBRAS , 74643
MOTOR DE SEGUIMIENTO , 11226
CONSTRUNET , 1922
SIM , 1786
NEGOCIOS AFILIADOS , 107
TECNOLOGIA , 77
SIE , 11
MARKETPLACE , 10
REFACCIONARIA , 8
MXMENU , 4
RXMENU , 2
MUEBLES , 1
PORTAL SARI , 1

In [11]:
sql_query = '''
SELECT DISTINCT NUMERO_PROVEEDOR,VENDOR_SITE_CODE FROM subSetDf
'''
SupplierandVSCValDf = ps.sqldf(sql_query)
print(len(SupplierandVSCValDf.index), ' records in scope')
SupplierandVSCValDf.to_csv(Path(workFolder, 'SupplierandVSCValDf.csv'), encoding='utf-8')
sql_query = '''
SELECT NUMERO_PROVEEDOR,COUNT(VENDOR_SITE_CODE) AS numVSC FROM SupplierandVSCValDf
GROUP BY NUMERO_PROVEEDOR
ORDER BY numVSC DESC
'''
result = ps.sqldf(sql_query)
print(result.head(10))
sql_query = '''
SELECT numVSC,COUNT(*) AS numObs FROM result
GROUP BY numVSC
ORDER BY numObs DESC
'''
result2 = ps.sqldf(sql_query)
print(result2.head(20))

164357  records in scope
  NUMERO_PROVEEDOR  numVSC
0            20539      16
1            19546       6
2            19647       6
3            19807       6
4            42108       6
5            16372       5
6            17559       5
7            17761       5
8            18960       5
9            21790       5
   numVSC  numObs
0       2   65118
1       3   11223
2       1     160
3       4      43
4       5      16
5       6       4
6      16       1

### Step 8 - Create new report structure

In [12]:
newReportDf = subSetDf[['SISTEMA_LEGADO','NUMERO_PROVEEDOR','BATCH_ID','IMPORT_ACTION','VENDOR_NAME',
'VENDOR_SITE_CODE','PROCUREMENT_BUSINESS_UNIT_NAME','BUSINESS_UNIT_NAME',
'BILL_TO_BU_NAME','SHIP_TO_LOCATION_CODE','BILL_TO_LOCATION_CODE','ALLOW_AWT_FLAG',
'AWT_GROUP_NAME','ACCTS_PAY_CONCATENATED_SEGMENTS','ACCTS_PAY_CONCATENATED_SEGMENTS1',
'FUTURE_DATED_PAYMENT_CONCATENATED_SEGMENTS','DISTRIBUTION_SET_NAME','INACTIVE_DATE']]
print(len(newReportDf.index), ' in new report structure')

164488  in new report structure

In [13]:
print(newReportDf.dtypes)

SISTEMA_LEGADO                                 string
NUMERO_PROVEEDOR                               string
BATCH_ID                                      float64
IMPORT_ACTION                                  string
VENDOR_NAME                                    string
VENDOR_SITE_CODE                               string
PROCUREMENT_BUSINESS_UNIT_NAME                 string
BUSINESS_UNIT_NAME                             string
BILL_TO_BU_NAME                                string
SHIP_TO_LOCATION_CODE                         float64
BILL_TO_LOCATION_CODE                         float64
ALLOW_AWT_FLAG                                 string
AWT_GROUP_NAME                                float64
ACCTS_PAY_CONCATENATED_SEGMENTS                object
ACCTS_PAY_CONCATENATED_SEGMENTS1              float64
FUTURE_DATED_PAYMENT_CONCATENATED_SEGMENTS    float64
DISTRIBUTION_SET_NAME                         float64
INACTIVE_DATE                                  string
dtype: object

In [14]:
newReportDf.fillna('', inplace=True)
with open(Path(workFolder,'4. SUPPLIER_SITE_ASSIGNMENT_COPPEL(NEW).csv'), 'w', encoding='utf-8') as textFile:
    tmpVector = ['SISTEMA_LEGADO','NUMERO_PROVEEDOR','BATCH_ID','IMPORT_ACTION','VENDOR_NAME',
                 'VENDOR_SITE_CODE','PROCUREMENT_BUSINESS_UNIT_NAME','BUSINESS_UNIT_NAME',
                 'BILL_TO_BU_NAME','SHIP_TO_LOCATION_CODE','BILL_TO_LOCATION_CODE','ALLOW_AWT_FLAG',
                 'AWT_GROUP_NAME','ACCTS_PAY_CONCATENATED_SEGMENTS','ACCTS_PAY_CONCATENATED_SEGMENTS1',
                 'FUTURE_DATED_PAYMENT_CONCATENATED_SEGMENTS','DISTRIBUTION_SET_NAME','INACTIVE_DATE']
    textLine = chr(59).join([chr(39)+str(tmpColumn)+chr(39) for tmpColumn in tmpVector]) + '\n'
    textFile.write(textLine)
    linesWritten = 0
    for index, row in newReportDf.iterrows():
        tmpVector = row.to_list()
        textLine = chr(59).join([chr(39)+str(tmpColumn)+chr(39) for tmpColumn in tmpVector]) + '\n'
        textFile.write(textLine)
        linesWritten += 1
    textFile.close()
print(linesWritten, ' text lines written.')

164488  text lines written.

### Step 9 - Validate the number of rows on file created

In [15]:
textFileToValidate = open(Path(workFolder,'4. SUPPLIER_SITE_ASSIGNMENT_COPPEL(NEW).csv'), 'r', encoding='utf-8')
if textFileToValidate:
    numTextLines = 0
    while True:
        numTextLines += 1
        textLine = textFileToValidate.readline()
        print(textLine)
        if numTextLines >10: break
    inputTextFile.close()

'SISTEMA_LEGADO';'NUMERO_PROVEEDOR';'BATCH_ID';'IMPORT_ACTION';'VENDOR_NAME';'VENDOR_SITE_CODE';'PROCUREMENT_BUSINESS_UNIT_NAME';'BUSINESS_UNIT_NAME';'BILL_TO_BU_NAME';'SHIP_TO_LOCATION_CODE';'BILL_TO_LOCATION_CODE';'ALLOW_AWT_FLAG';'AWT_GROUP_NAME';'ACCTS_PAY_CONCATENATED_SEGMENTS';'ACCTS_PAY_CONCATENATED_SEGMENTS1';'FUTURE_DATED_PAYMENT_CONCATENATED_SEGMENTS';'DISTRIBUTION_SET_NAME';'INACTIVE_DATE'

'GASTOS';'&JE040614N51';'';'CREATE';'A & J EXPORTACIONES SA DE CV';'GT&JE040614N51';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'OBRAS';'&JE040614N51';'';'CREATE';'A & J EXPORTACIONES SA DE CV';'SO&JE040614N51';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'GASTOS';'00AL570409DC8';'';'CREATE';'OSORIO ALVAREZ JOSE LUIS';'GT00AL570409DC8';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'OBRAS';'00AL570409DC8';'';'CREATE';'OSORIO ALVAREZ JOSE LUIS';'SO00AL570409DC8';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'OBRAS';'00BR5103152L7';'';'CREATE';'ORDOÑEZ BARBA RAYMUNDO';'SO00BR5103152L7';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'GASTOS';'00BR5103152L7';'';'CREATE';'ORDOÑEZ BARBA RAYMUNDO';'GT00BR5103152L7';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'OBRAS';'00CE810603TI4';'';'CREATE';'OROSCO CORIA EMMA';'SO00CE810603TI4';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'GASTOS';'00CE810603TI4';'';'CREATE';'OROSCO CORIA EMMA';'GT00CE810603TI4';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'PORTAL SARI';'1482';'';'CREATE';'CHONG BARRERA OSCAR EMILIO';'SA1482MXN000';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

'NEGOCIOS AFILIADOS';'1482';'';'CREATE';'PROCOMEX MAZATLAN SA DE CV';'NA1482';'BU_CSACV';'BU_CSACV';'BU_CSACV';'';'';'N';'';'';'';'';'';'1900-01-01'

In [16]:
validationDf = pd.read_csv(Path(workFolder,'4. SUPPLIER_SITE_ASSIGNMENT_COPPEL(NEW).csv'), sep=';', quotechar=chr(39), encoding='utf-8')
validationDf.dtypes
print(len(validationDf.index), ' records found.')

164488  records found.
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)