##  Data from File 5.2 Bank Accounts

### Step 1. Load required packages

In [1]:
import pandas as pd
import pandasql as ps
from pathlib import Path

#### Step 2 - Get sample from source file

In [2]:
sourceFolder = '/content/drive/Shareddrives/Esperanto/Supports/Suppliers/5_Suppliers_Payees_BankAccounts'
workFolder = '/content/drive/Shareddrives/Esperanto/Supports/Suppliers/Work/5_Bank_Accounts'
fileName = '5.2. SUPPLIER_BANK_ACCOUNTS_COPPEL.csv'
inputTextFile = open(Path(sourceFolder, fileName), 'r', encoding='latin-1')
if inputTextFile:
    numTextLines = 0
    while True:
        numTextLines += 1
        textLine = inputTextFile.readline()
        print(textLine)
        if numTextLines >10:
            break
    inputTextFile.close()

'SISTEMA_LEGADO';'NUMERO_PROVEEDOR';'FEEDER_IMPORT_BATCH_ID';'TEMP_EXT_PAYEE_ID';'TEMP_EXT_BANK_ACCT_ID';'BANK_NAME';'BRANCH_NAME';'COUNTRY_CODE';'BANK_ACCOUNT_NAME';'BANK_ACCOUNT_NUM';'CURRENCY_CODE';'FOREING_PAYMENT_USE_FLAG';'START_DATE';'END_DATE';'IBAN';'CHECK_DIGITS';'BANK_ACCOUNT_NAME_ALT';'BANK_ACCOUNT_TYPE';'ACCOUNT_SUFFIX';'DESCRIPTION';'AGENCY_LOCATION_CODE';'EXCHANGE_RATE_AGREEMENT_NUM';'EXCHANGE_RATE_AGREEMENT_TYPE';'EXCHANGE_RATE';'SECONDARY_ACCOUNT_REFERENCE';'ATTRIBUTE_CATEGORY';'ATTRIBUTE1';'ATTRIBUTE2';'ATTRIBUTE3';'ATTRIBUTE4';'ATTRIBUTE5';'ATTRIBUTE6';'ATTRIBUTE7';'ATTRIBUTE8';'ATTRIBUTE9';'ATTRIBUTE10';'ATTRIBUTE11';'ATTRIBUTE12';'ATTRIBUTE13';'ATTRIBUTE14';'ATTRIBUTE15'

'OBRAS';'GAVE860528F18';'100';'9';'0009';'HSBC';'PROVEEDORES';'MX';'';'4057367294';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'021741040573672946';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'GASTOS';'BIO111108JC6';'100';'12';'00012';'BANORTE';'PROVEEDORES';'MX';'';'0808351359';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'072180008083513590';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'OBRAS';'BIO111108JC6';'100';'13';'00013';'BANORTE';'PROVEEDORES';'MX';'';'0808351359';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'072180008083513590';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'GASTOS';'DSE090511EW5';'100';'18';'00018';'AFIRME';'PROVEEDORES';'MX';'';'0108119934';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'062580001081199345';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'OBRAS';'DSE090511EW5';'100';'19';'00019';'AFIRME';'PROVEEDORES';'MX';'';'0108119934';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'062580001081199345';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'OBRAS';'TVC8607234U2';'100';'23';'00023';'SCOTIABANK';'PROVEEDORES';'MX';'';'0106635989';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'044180001066359890';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'GASTOS';'TVC8607234U2';'100';'24';'00024';'SCOTIABANK';'PROVEEDORES';'MX';'';'0106635989';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'044180001066359890';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'GASTOS';'ABS110113195';'100';'27';'00027';'SANTANDER';'PROVEEDORES';'MX';'';'2001659940';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'014180920016599407';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'OBRAS';'ABS110113195';'100';'28';'00028';'SANTANDER';'PROVEEDORES';'MX';'';'2001659940';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'014180920016599407';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'OBRAS';'DUO7511286H3';'100';'37';'00037';'BANAMEX';'PROVEEDORES';'MX';'';'0046807810';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'002180700468078106';'';'';'';'';'';'';'';'';'';'';'';'';'';''

### Step 3 - Load bank account data

In [3]:
df = pd.read_csv(Path(sourceFolder,fileName), sep=';', quotechar=chr(39), encoding='latin-1')
df.dtypes

SISTEMA_LEGADO                   object
NUMERO_PROVEEDOR                 object
FEEDER_IMPORT_BATCH_ID            int64
TEMP_EXT_PAYEE_ID                 int64
TEMP_EXT_BANK_ACCT_ID             int64
BANK_NAME                        object
BRANCH_NAME                      object
COUNTRY_CODE                     object
BANK_ACCOUNT_NAME               float64
BANK_ACCOUNT_NUM                float64
CURRENCY_CODE                    object
FOREING_PAYMENT_USE_FLAG         object
START_DATE                      float64
END_DATE                        float64
IBAN                            float64
CHECK_DIGITS                    float64
BANK_ACCOUNT_NAME_ALT           float64
BANK_ACCOUNT_TYPE               float64
ACCOUNT_SUFFIX                  float64
DESCRIPTION                     float64
AGENCY_LOCATION_CODE            float64
EXCHANGE_RATE_AGREEMENT_NUM     float64
EXCHANGE_RATE_AGREEMENT_TYPE    float64
EXCHANGE_RATE                   float64
SECONDARY_ACCOUNT_REFERENCE     float64
ATTRIBUTE_CATEGORY              float64
ATTRIBUTE1                       object
ATTRIBUTE2                      float64
ATTRIBUTE3                      float64
ATTRIBUTE4                      float64
ATTRIBUTE5                      float64
ATTRIBUTE6                      float64
ATTRIBUTE7                      float64
ATTRIBUTE8                      float64
ATTRIBUTE9                      float64
ATTRIBUTE10                     float64
ATTRIBUTE11                     float64
ATTRIBUTE12                     float64
ATTRIBUTE13                     float64
ATTRIBUTE14                     float64
ATTRIBUTE15                     float64
dtype: object

### Step 4 - Validate Bank Account & Tax ID

In [5]:
modDf = df
modDf['CLABE_VALIDATION'] = False
modDf['ATTRIBUTE1'] = modDf['ATTRIBUTE1'].astype(str)
for index, row in modDf.iterrows():
    if len(row['ATTRIBUTE1'].replace('.0',''))==18:
        modDf.loc[index, 'CLABE_VALIDATION'] = True
modDf = modDf[modDf['NUMERO_PROVEEDOR'].notna()]
print('the orignal dataset contains ', len(df.index), ' records')
print('the modified dataset contains ', len(modDf.index), ' records.')
print(modDf.head(10))

the orignal dataset contains  171966  records
the modified dataset contains  171966  records.
  SISTEMA_LEGADO NUMERO_PROVEEDOR  FEEDER_IMPORT_BATCH_ID  TEMP_EXT_PAYEE_ID  \
0          OBRAS    GAVE860528F18                     100                  9
1         GASTOS     BIO111108JC6                     100                 12
2          OBRAS     BIO111108JC6                     100                 13
3         GASTOS     DSE090511EW5                     100                 18
4          OBRAS     DSE090511EW5                     100                 19
5          OBRAS     TVC8607234U2                     100                 23
6         GASTOS     TVC8607234U2                     100                 24
7         GASTOS     ABS110113195                     100                 27
8          OBRAS     ABS110113195                     100                 28
9          OBRAS     DUO7511286H3                     100                 37

   TEMP_EXT_BANK_ACCT_ID   BANK_NAME  BRANCH_NAME COUNTRY_CODE  \
0                      9        HSBC  PROVEEDORES           MX
1                     12     BANORTE  PROVEEDORES           MX
2                     13     BANORTE  PROVEEDORES           MX
3                     18      AFIRME  PROVEEDORES           MX
4                     19      AFIRME  PROVEEDORES           MX
5                     23  SCOTIABANK  PROVEEDORES           MX
6                     24  SCOTIABANK  PROVEEDORES           MX
7                     27   SANTANDER  PROVEEDORES           MX
8                     28   SANTANDER  PROVEEDORES           MX
9                     37     BANAMEX  PROVEEDORES           MX

   BANK_ACCOUNT_NAME  BANK_ACCOUNT_NUM  ... ATTRIBUTE7 ATTRIBUTE8  ATTRIBUTE9  \
0                NaN      4.057367e+09  ...        NaN        NaN         NaN
1                NaN      8.083514e+08  ...        NaN        NaN         NaN
2                NaN      8.083514e+08  ...        NaN        NaN         NaN
3                NaN      1.081199e+08  ...        NaN        NaN         NaN
4                NaN      1.081199e+08  ...        NaN        NaN         NaN
5                NaN      1.066360e+08  ...        NaN        NaN         NaN
6                NaN      1.066360e+08  ...        NaN        NaN         NaN
7                NaN      2.001660e+09  ...        NaN        NaN         NaN
8                NaN      2.001660e+09  ...        NaN        NaN         NaN
9                NaN      4.680781e+07  ...        NaN        NaN         NaN

   ATTRIBUTE10  ATTRIBUTE11  ATTRIBUTE12  ATTRIBUTE13  ATTRIBUTE14  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

   ATTRIBUTE15  CLABE_VALIDATION
0          NaN              True
1          NaN              True
2          NaN              True
3          NaN              True
4          NaN              True
5          NaN              True
6          NaN              True
7          NaN              True
8          NaN              True
9          NaN              True

[10 rows x 42 columns]

### Step 5 - Creates a subset with elements whose taxt id and bank account are valid

In [7]:
subSetDf = modDf[modDf['CLABE_VALIDATION']==True]
print(len(modDf.index) ,' records in original dataset')
print(len(subSetDf.index), ' records with a valid bank account (18 digits)')

171966  records in original dataset
164836  records with a valid bank account (18 digits)

### Step 6 - Performs analysis for duplicate records based on taxt id or supplier id

In [8]:
sql_query = '''
SELECT NUMERO_PROVEEDOR,COUNT(*) AS numObs FROM subSetDf
GROUP BY NUMERO_PROVEEDOR
ORDER BY numObs DESC
'''
dupsAnalysis = ps.sqldf(sql_query)
print(len(dupsAnalysis.index), ' taxt ids in daset')
uniqueTaxdIds = dupsAnalysis[dupsAnalysis['numObs']==1]
print(len(uniqueTaxdIds.index), ' unique taxt ids')
duplicateTaxdIds = dupsAnalysis[dupsAnalysis['numObs']>1]
print(len(duplicateTaxdIds.index), ' duplicate taxt ids')
#
sql_query = '''
SELECT SISTEMA_LEGADO,COUNT(*) AS numObs FROM 
(SELECT SISTEMA_LEGADO,NUMERO_PROVEEDOR FROM subSetDf)
GROUP BY SISTEMA_LEGADO
ORDER BY numObs DESC
'''
distPerLegacy = ps.sqldf(sql_query)
for index, row in distPerLegacy.iterrows():
    print(row['SISTEMA_LEGADO'], ',', row['numObs'])

76565  taxt ids in daset
193  unique taxt ids
76372  duplicate taxt ids
GASTOS , 74841
OBRAS , 74826
MOTOR DE SEGUIMIENTO , 11147
CONSTRUNET , 1913
SIM , 1913
NEGOCIOS AFILIADOS , 107
TECNOLOGIA , 59
SIE , 11
MARKETPLACE , 10
REFACCIONARIA , 8
PORTAL SARI , 1

In [9]:
print('unique taxt ids: ')
print(uniqueTaxdIds.head(10))
print('duplicate taxt ids: ')
print(duplicateTaxdIds.head(100))

unique taxt ids:
      NUMERO_PROVEEDOR  numObs
76372            16291       1
76373            16826       1
76374            17147       1
76375             1796       1
76376            18005       1
76377            18247       1
76378            18337       1
76379            18434       1
76380            18606       1
76381            18798       1
duplicate taxt ids:
   NUMERO_PROVEEDOR  numObs
0             20539      27
1      DBM000228J35      14
2      ASO0408178B2      12
3      PMC9601107JA      12
4             19546      10
..              ...     ...
95            36928       5
96            37929       5
97            38728       5
98            40530       5
99            40834       5

[100 rows x 2 columns]

In [10]:
sql_query = '''
SELECT numObs,COUNT(*) AS NumCases FROM duplicateTaxdIds
GROUP BY numObs
ORDER BY numObs DESC
'''
result = ps.sqldf(sql_query)
for index, row in result.iterrows():
    print(row['numObs'], ' duplicates, ', row['NumCases'], ' cases')

27  duplicates,  1  cases
14  duplicates,  1  cases
12  duplicates,  2  cases
10  duplicates,  3  cases
9  duplicates,  2  cases
8  duplicates,  18  cases
7  duplicates,  5  cases
6  duplicates,  50  cases
5  duplicates,  24  cases
4  duplicates,  98  cases
3  duplicates,  11203  cases
2  duplicates,  64965  cases

### Step 7 - Perfoms analysis of distribution of accounts per supplier

In [12]:
sql_query = '''
SELECT NUMERO_PROVEEDOR,COUNT(*) AS numObs FROM
(SELECT NUMERO_PROVEEDOR,ATTRIBUTE1 FROM modDf)
GROUP BY NUMERO_PROVEEDOR
ORDER BY numObs DESC
'''
accountsPerSupplierDf = ps.sqldf(sql_query)
sql_query = '''
SELECT numObs,COUNT(*) AS numCases FROM accountsPerSupplierDf
GROUP BY numObs
ORDER BY numObs DESC
'''
result = ps.sqldf(sql_query)
for index, row in result.iterrows():
    print(row['numObs'], ', ', row['numCases'])

14 ,  1
27 ,  1
9 ,  2
12 ,  2
7 ,  5
10 ,  5
8 ,  22
5 ,  28
6 ,  53
4 ,  121
1 ,  179
3 ,  11207
2 ,  68440

### Step 7 - Create sets for duplicates elimination rules validation

In [31]:
dupsSet1 = duplicateTaxdIds[duplicateTaxdIds['numObs']==2]
dupsSet2 = duplicateTaxdIds[duplicateTaxdIds['numObs']==3]
dupsSet3 = duplicateTaxdIds[duplicateTaxdIds['numObs']>3]

In [43]:
example1Df = uniqueTaxdIds.merge(subSetDf, on='NUMERO_PROVEEDOR', how='left')
example1Df = example1Df[['SISTEMA_LEGADO','NUMERO_PROVEEDOR','FEEDER_IMPORT_BATCH_ID','TEMP_EXT_PAYEE_ID','TEMP_EXT_BANK_ACCT_ID',
'BANK_NAME','BRANCH_NAME','COUNTRY_CODE','BANK_ACCOUNT_NAME','BANK_ACCOUNT_NUM','CURRENCY_CODE','FOREING_PAYMENT_USE_FLAG',
'START_DATE','END_DATE','IBAN','CHECK_DIGITS','BANK_ACCOUNT_NAME_ALT','BANK_ACCOUNT_TYPE','ACCOUNT_SUFFIX','DESCRIPTION',
'AGENCY_LOCATION_CODE','EXCHANGE_RATE_AGREEMENT_NUM','EXCHANGE_RATE_AGREEMENT_TYPE','EXCHANGE_RATE','SECONDARY_ACCOUNT_REFERENCE',
'ATTRIBUTE_CATEGORY','ATTRIBUTE1','ATTRIBUTE2','ATTRIBUTE3','ATTRIBUTE4','ATTRIBUTE5','ATTRIBUTE6','ATTRIBUTE7','ATTRIBUTE8',
'ATTRIBUTE9','ATTRIBUTE10','ATTRIBUTE11','ATTRIBUTE12','ATTRIBUTE13','ATTRIBUTE14','ATTRIBUTE15']]
print(example1Df)
example1Df.to_csv(Path(workFolder, '5.2 Bank Accounts - RFCS Unicos.csv'), encoding='utf-8')

   SISTEMA_LEGADO NUMERO_PROVEEDOR  FEEDER_IMPORT_BATCH_ID  TEMP_EXT_PAYEE_ID  \
0          GASTOS     AME050428RN2                     100              16554
1          GASTOS     CES100929KP8                     100              29713
2          GASTOS     COR500328B10                     100              46860
3          GASTOS     CSB080408DB8                     100              45531
4          GASTOS     DIL1107085H3                     100              59935
5          GASTOS     EME030203JAA                     100              63648
6          GASTOS     FFM130226AY7                     100              72581
7          GASTOS     ISE0402136VA                     100             108358
8          GASTOS     MTE140127HH1                     100             149533
9          GASTOS     OCO131019H46                     100             162312
10         GASTOS     SAA1610043Q6                     100             199990
11         GASTOS     SIN120103HV4                     100             212516
12         GASTOS     SOI090605PD5                     100             215829
13         GASTOS     WLA161124IX4                     100             233957

    TEMP_EXT_BANK_ACCT_ID      BANK_NAME  BRANCH_NAME COUNTRY_CODE  \
0                   16538  BBVA BANCOMER  PROVEEDORES           MX
1                   29770  BBVA BANCOMER  PROVEEDORES           MX
2                   47107  BBVA BANCOMER  PROVEEDORES           MX
3                   45762  BBVA BANCOMER  PROVEEDORES           MX
4                   60493  BBVA BANCOMER  PROVEEDORES           MX
5                   64194  BBVA BANCOMER  PROVEEDORES           MX
6                   73300  BBVA BANCOMER  PROVEEDORES           MX
7                    9095  BBVA BANCOMER  PROVEEDORES           MX
8                   50190  BBVA BANCOMER  PROVEEDORES           MX
9                   63241  BBVA BANCOMER  PROVEEDORES           MX
10                   1007  BBVA BANCOMER  PROVEEDORES           MX
11                  13439  BBVA BANCOMER  PROVEEDORES           MX
12                  16777  BBVA BANCOMER  PROVEEDORES           MX
13                  34769  BBVA BANCOMER  PROVEEDORES           MX

    BANK_ACCOUNT_NAME  BANK_ACCOUNT_NUM  ... ATTRIBUTE6 ATTRIBUTE7  \
0                 NaN      1.596525e+08  ...        NaN        NaN
1                 NaN      3.136204e+08  ...        NaN        NaN
2                 NaN      1.968119e+08  ...        NaN        NaN
3                 NaN      1.631532e+08  ...        NaN        NaN
4                 NaN      1.900413e+08  ...        NaN        NaN
5                 NaN      1.009216e+08  ...        NaN        NaN
6                 NaN      1.927755e+08  ...        NaN        NaN
7                 NaN      1.432982e+08  ...        NaN        NaN
8                 NaN      2.877744e+06  ...        NaN        NaN
9                 NaN      1.985072e+08  ...        NaN        NaN
10                NaN      1.090613e+08  ...        NaN        NaN
11                NaN      7.003811e+09  ...        NaN        NaN
12                NaN      9.157660e+06  ...        NaN        NaN
13                NaN      1.102550e+08  ...        NaN        NaN

    ATTRIBUTE8  ATTRIBUTE9  ATTRIBUTE10  ATTRIBUTE11  ATTRIBUTE12  \
0          NaN         NaN          NaN          NaN          NaN
1          NaN         NaN          NaN          NaN          NaN
2          NaN         NaN          NaN          NaN          NaN
3          NaN         NaN          NaN          NaN          NaN
4          NaN         NaN          NaN          NaN          NaN
5          NaN         NaN          NaN          NaN          NaN
6          NaN         NaN          NaN          NaN          NaN
7          NaN         NaN          NaN          NaN          NaN
8          NaN         NaN          NaN          NaN          NaN
9          NaN         NaN          NaN          NaN          NaN
10         NaN         NaN          NaN          NaN          NaN
11         NaN         NaN          NaN          NaN          NaN
12         NaN         NaN          NaN          NaN          NaN
13         NaN         NaN          NaN          NaN          NaN

    ATTRIBUTE13  ATTRIBUTE14  ATTRIBUTE15
0           NaN          NaN          NaN
1           NaN          NaN          NaN
2           NaN          NaN          NaN
3           NaN          NaN          NaN
4           NaN          NaN          NaN
5           NaN          NaN          NaN
6           NaN          NaN          NaN
7           NaN          NaN          NaN
8           NaN          NaN          NaN
9           NaN          NaN          NaN
10          NaN          NaN          NaN
11          NaN          NaN          NaN
12          NaN          NaN          NaN
13          NaN          NaN          NaN

[14 rows x 41 columns]

In [46]:
example2Df = dupsSet1.merge(subSetDf, on='NUMERO_PROVEEDOR', how='left')
example2Df = example2Df[['SISTEMA_LEGADO','NUMERO_PROVEEDOR','FEEDER_IMPORT_BATCH_ID','TEMP_EXT_PAYEE_ID','TEMP_EXT_BANK_ACCT_ID',
'BANK_NAME','BRANCH_NAME','COUNTRY_CODE','BANK_ACCOUNT_NAME','BANK_ACCOUNT_NUM','CURRENCY_CODE','FOREING_PAYMENT_USE_FLAG',
'START_DATE','END_DATE','IBAN','CHECK_DIGITS','BANK_ACCOUNT_NAME_ALT','BANK_ACCOUNT_TYPE','ACCOUNT_SUFFIX','DESCRIPTION',
'AGENCY_LOCATION_CODE','EXCHANGE_RATE_AGREEMENT_NUM','EXCHANGE_RATE_AGREEMENT_TYPE','EXCHANGE_RATE','SECONDARY_ACCOUNT_REFERENCE',
'ATTRIBUTE_CATEGORY','ATTRIBUTE1','ATTRIBUTE2','ATTRIBUTE3','ATTRIBUTE4','ATTRIBUTE5','ATTRIBUTE6','ATTRIBUTE7','ATTRIBUTE8',
'ATTRIBUTE9','ATTRIBUTE10','ATTRIBUTE11','ATTRIBUTE12','ATTRIBUTE13','ATTRIBUTE14','ATTRIBUTE15']]
print(example2Df.head(10))
example2Df.to_csv(Path(workFolder, '5.2 Bank Accounts - RFCS Duplicados -2.csv'), encoding='utf-8')

  SISTEMA_LEGADO NUMERO_PROVEEDOR  FEEDER_IMPORT_BATCH_ID  TEMP_EXT_PAYEE_ID  \
0         GASTOS     &JE040614N51                     100                139
1          OBRAS     &JE040614N51                     100                140
2         GASTOS    00AL570409DC8                     100             166443
3          OBRAS    00AL570409DC8                     100             166445
4          OBRAS    00BR5103152L7                     100             164158
5         GASTOS    00BR5103152L7                     100             164159
6          OBRAS    00CE810603TI4                     100             164715
7         GASTOS    00CE810603TI4                     100             164716
8         GASTOS     A&G060523IW9                     100              52878
9          OBRAS     A&G060523IW9                     100              52879

   TEMP_EXT_BANK_ACCT_ID      BANK_NAME  BRANCH_NAME COUNTRY_CODE  \
0                    134  BBVA BANCOMER  PROVEEDORES           MX
1                    135  BBVA BANCOMER  PROVEEDORES           MX
2                  67376  BBVA BANCOMER  PROVEEDORES           MX
3                  67378  BBVA BANCOMER  PROVEEDORES           MX
4                  65088      BANCOPPEL  PROVEEDORES           MX
5                  65089      BANCOPPEL  PROVEEDORES           MX
6                  65649      BANCOPPEL  PROVEEDORES           MX
7                  65650      BANCOPPEL  PROVEEDORES           MX
8                  53258      SANTANDER  PROVEEDORES           MX
9                  53259      SANTANDER  PROVEEDORES           MX

   BANK_ACCOUNT_NAME  BANK_ACCOUNT_NUM  ... ATTRIBUTE6 ATTRIBUTE7  ATTRIBUTE8  \
0                NaN      1.452968e+08  ...        NaN        NaN         NaN
1                NaN      1.452968e+08  ...        NaN        NaN         NaN
2                NaN      1.424712e+09  ...        NaN        NaN         NaN
3                NaN      1.424712e+09  ...        NaN        NaN         NaN
4                NaN      4.238982e+08  ...        NaN        NaN         NaN
5                NaN      4.238982e+08  ...        NaN        NaN         NaN
6                NaN      3.200731e+08  ...        NaN        NaN         NaN
7                NaN      3.200731e+08  ...        NaN        NaN         NaN
8                NaN      9.200060e+09  ...        NaN        NaN         NaN
9                NaN      9.200060e+09  ...        NaN        NaN         NaN

   ATTRIBUTE9  ATTRIBUTE10  ATTRIBUTE11  ATTRIBUTE12  ATTRIBUTE13  \
0         NaN          NaN          NaN          NaN          NaN
1         NaN          NaN          NaN          NaN          NaN
2         NaN          NaN          NaN          NaN          NaN
3         NaN          NaN          NaN          NaN          NaN
4         NaN          NaN          NaN          NaN          NaN
5         NaN          NaN          NaN          NaN          NaN
6         NaN          NaN          NaN          NaN          NaN
7         NaN          NaN          NaN          NaN          NaN
8         NaN          NaN          NaN          NaN          NaN
9         NaN          NaN          NaN          NaN          NaN

   ATTRIBUTE14  ATTRIBUTE15
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
5          NaN          NaN
6          NaN          NaN
7          NaN          NaN
8          NaN          NaN
9          NaN          NaN

[10 rows x 41 columns]

In [47]:
example3Df = dupsSet2.merge(subSetDf, on='NUMERO_PROVEEDOR', how='left')
example3Df = example3Df[['SISTEMA_LEGADO','NUMERO_PROVEEDOR','FEEDER_IMPORT_BATCH_ID','TEMP_EXT_PAYEE_ID','TEMP_EXT_BANK_ACCT_ID',
'BANK_NAME','BRANCH_NAME','COUNTRY_CODE','BANK_ACCOUNT_NAME','BANK_ACCOUNT_NUM','CURRENCY_CODE','FOREING_PAYMENT_USE_FLAG',
'START_DATE','END_DATE','IBAN','CHECK_DIGITS','BANK_ACCOUNT_NAME_ALT','BANK_ACCOUNT_TYPE','ACCOUNT_SUFFIX','DESCRIPTION',
'AGENCY_LOCATION_CODE','EXCHANGE_RATE_AGREEMENT_NUM','EXCHANGE_RATE_AGREEMENT_TYPE','EXCHANGE_RATE','SECONDARY_ACCOUNT_REFERENCE',
'ATTRIBUTE_CATEGORY','ATTRIBUTE1','ATTRIBUTE2','ATTRIBUTE3','ATTRIBUTE4','ATTRIBUTE5','ATTRIBUTE6','ATTRIBUTE7','ATTRIBUTE8',
'ATTRIBUTE9','ATTRIBUTE10','ATTRIBUTE11','ATTRIBUTE12','ATTRIBUTE13','ATTRIBUTE14','ATTRIBUTE15']]
print(example3Df.head(10))
example3Df.to_csv(Path(workFolder, '5.2 Bank Accounts - RFCS Duplicados - 3.csv'), encoding='utf-8')

         SISTEMA_LEGADO NUMERO_PROVEEDOR  FEEDER_IMPORT_BATCH_ID  \
0                GASTOS    AAAA680827Q89                     100
1                 OBRAS    AAAA680827Q89                     100
2  MOTOR DE SEGUIMIENTO    AAAA680827Q89                     100
3                GASTOS    AAAB950402HX6                     100
4                 OBRAS    AAAB950402HX6                     100
5  MOTOR DE SEGUIMIENTO    AAAB950402HX6                     100
6                GASTOS    AAAD590706PW8                     100
7                 OBRAS    AAAD590706PW8                     100
8  MOTOR DE SEGUIMIENTO    AAAD590706PW8                     100
9                GASTOS    AAAE551201CT0                     100

   TEMP_EXT_PAYEE_ID  TEMP_EXT_BANK_ACCT_ID  BANK_NAME  BRANCH_NAME  \
0               7301                   7306  BANCOPPEL  PROVEEDORES
1               7302                   7307  BANCOPPEL  PROVEEDORES
2             115765                  16498  BANCOPPEL  PROVEEDORES
3               8407                   8408  BANCOPPEL  PROVEEDORES
4               8408                   8409  BANCOPPEL  PROVEEDORES
5              25594                  25624  BANCOPPEL  PROVEEDORES
6               7375                   7379  BANCOPPEL  PROVEEDORES
7               7376                   7380  BANCOPPEL  PROVEEDORES
8             135572                  36277  BANCOPPEL  PROVEEDORES
9              18329                  18342  BANCOPPEL  PROVEEDORES

  COUNTRY_CODE  BANK_ACCOUNT_NAME  BANK_ACCOUNT_NUM  ... ATTRIBUTE6  \
0           MX                NaN      1.041455e+10  ...        NaN
1           MX                NaN      1.041455e+10  ...        NaN
2           MX                NaN      1.041455e+10  ...        NaN
3           MX                NaN      1.020885e+10  ...        NaN
4           MX                NaN      1.020885e+10  ...        NaN
5           MX                NaN      1.020885e+10  ...        NaN
6           MX                NaN      1.040489e+10  ...        NaN
7           MX                NaN      1.040489e+10  ...        NaN
8           MX                NaN      1.040489e+10  ...        NaN
9           MX                NaN      1.012505e+10  ...        NaN

  ATTRIBUTE7  ATTRIBUTE8  ATTRIBUTE9  ATTRIBUTE10  ATTRIBUTE11  ATTRIBUTE12  \
0        NaN         NaN         NaN          NaN          NaN          NaN
1        NaN         NaN         NaN          NaN          NaN          NaN
2        NaN         NaN         NaN          NaN          NaN          NaN
3        NaN         NaN         NaN          NaN          NaN          NaN
4        NaN         NaN         NaN          NaN          NaN          NaN
5        NaN         NaN         NaN          NaN          NaN          NaN
6        NaN         NaN         NaN          NaN          NaN          NaN
7        NaN         NaN         NaN          NaN          NaN          NaN
8        NaN         NaN         NaN          NaN          NaN          NaN
9        NaN         NaN         NaN          NaN          NaN          NaN

   ATTRIBUTE13  ATTRIBUTE14  ATTRIBUTE15
0          NaN          NaN          NaN
1          NaN          NaN          NaN
2          NaN          NaN          NaN
3          NaN          NaN          NaN
4          NaN          NaN          NaN
5          NaN          NaN          NaN
6          NaN          NaN          NaN
7          NaN          NaN          NaN
8          NaN          NaN          NaN
9          NaN          NaN          NaN

[10 rows x 41 columns]

In [48]:
example4Df = dupsSet3.merge(subSetDf, on='NUMERO_PROVEEDOR', how='left')
example4Df = example4Df[['SISTEMA_LEGADO','NUMERO_PROVEEDOR','FEEDER_IMPORT_BATCH_ID','TEMP_EXT_PAYEE_ID','TEMP_EXT_BANK_ACCT_ID',
'BANK_NAME','BRANCH_NAME','COUNTRY_CODE','BANK_ACCOUNT_NAME','BANK_ACCOUNT_NUM','CURRENCY_CODE','FOREING_PAYMENT_USE_FLAG',
'START_DATE','END_DATE','IBAN','CHECK_DIGITS','BANK_ACCOUNT_NAME_ALT','BANK_ACCOUNT_TYPE','ACCOUNT_SUFFIX','DESCRIPTION',
'AGENCY_LOCATION_CODE','EXCHANGE_RATE_AGREEMENT_NUM','EXCHANGE_RATE_AGREEMENT_TYPE','EXCHANGE_RATE','SECONDARY_ACCOUNT_REFERENCE',
'ATTRIBUTE_CATEGORY','ATTRIBUTE1','ATTRIBUTE2','ATTRIBUTE3','ATTRIBUTE4','ATTRIBUTE5','ATTRIBUTE6','ATTRIBUTE7','ATTRIBUTE8',
'ATTRIBUTE9','ATTRIBUTE10','ATTRIBUTE11','ATTRIBUTE12','ATTRIBUTE13','ATTRIBUTE14','ATTRIBUTE15']]
print(example4Df.head(10))
example4Df.to_csv(Path(workFolder, '5.2 Bank Accounts - RFCS Duplicados > 3.csv'), encoding='utf-8')

  SISTEMA_LEGADO NUMERO_PROVEEDOR  FEEDER_IMPORT_BATCH_ID  TEMP_EXT_PAYEE_ID  \
0         GASTOS     DBM000228J35                     100              56179
1         GASTOS     DBM000228J35                     100              56179
2         GASTOS     DBM000228J35                     100              56179
3         GASTOS     DBM000228J35                     100              56179
4         GASTOS     DBM000228J35                     100              56179
5         GASTOS     DBM000228J35                     100              56179
6         GASTOS     DBM000228J35                     100              56179
7          OBRAS     DBM000228J35                     100              56185
8          OBRAS     DBM000228J35                     100              56185
9          OBRAS     DBM000228J35                     100              56185

   TEMP_EXT_BANK_ACCT_ID      BANK_NAME  BRANCH_NAME COUNTRY_CODE  \
0                  56702  BBVA BANCOMER  PROVEEDORES           MX
1                  56704  BBVA BANCOMER  PROVEEDORES           MX
2                  56699  BBVA BANCOMER  PROVEEDORES           MX
3                  56698  BBVA BANCOMER  PROVEEDORES           MX
4                  56703  BBVA BANCOMER  PROVEEDORES           MX
5                  56700  BBVA BANCOMER  PROVEEDORES           MX
6                  56701        BANORTE  PROVEEDORES           MX
7                  56713        BANORTE  PROVEEDORES           MX
8                  56715  BBVA BANCOMER  PROVEEDORES           MX
9                  56714  BBVA BANCOMER  PROVEEDORES           MX

   BANK_ACCOUNT_NAME  BANK_ACCOUNT_NUM  ... ATTRIBUTE6 ATTRIBUTE7  ATTRIBUTE8  \
0                NaN       188343284.0  ...        NaN        NaN         NaN
1                NaN       175384133.0  ...        NaN        NaN         NaN
2                NaN       147442092.0  ...        NaN        NaN         NaN
3                NaN       158099162.0  ...        NaN        NaN         NaN
4                NaN       191573624.0  ...        NaN        NaN         NaN
5                NaN       195797209.0  ...        NaN        NaN         NaN
6                NaN       692176582.0  ...        NaN        NaN         NaN
7                NaN       692176582.0  ...        NaN        NaN         NaN
8                NaN       158099162.0  ...        NaN        NaN         NaN
9                NaN       147442092.0  ...        NaN        NaN         NaN

   ATTRIBUTE9  ATTRIBUTE10  ATTRIBUTE11  ATTRIBUTE12  ATTRIBUTE13  \
0         NaN          NaN          NaN          NaN          NaN
1         NaN          NaN          NaN          NaN          NaN
2         NaN          NaN          NaN          NaN          NaN
3         NaN          NaN          NaN          NaN          NaN
4         NaN          NaN          NaN          NaN          NaN
5         NaN          NaN          NaN          NaN          NaN
6         NaN          NaN          NaN          NaN          NaN
7         NaN          NaN          NaN          NaN          NaN
8         NaN          NaN          NaN          NaN          NaN
9         NaN          NaN          NaN          NaN          NaN

   ATTRIBUTE14  ATTRIBUTE15
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
5          NaN          NaN
6          NaN          NaN
7          NaN          NaN
8          NaN          NaN
9          NaN          NaN

[10 rows x 41 columns]

In [51]:
#sql_query = '''
#SELECT DISTINCT SISTEMA_LEGADO,NUMERO_PROVEEDOR,FEEDER_IMPORT_BATCH_ID,TEMP_EXT_PAYEE_ID,
#TEMP_EXT_BANK_ACCT_ID,BANK_NAME,BRANCH_NAME,COUNTRY_CODE,BANK_ACCOUNT_NUM,CURRENCY_CODE,
#FOREING_PAYMENT_USE_FLAG,ATTRIBUTE1
#FROM subSetDf
#'''
dataToSave = ps.sqldf(sql_query)
datatoSave = subSetDf[['SISTEMA_LEGADO','NUMERO_PROVEEDOR','FEEDER_IMPORT_BATCH_ID','TEMP_EXT_PAYEE_ID','TEMP_EXT_BANK_ACCT_ID',
'BANK_NAME','BRANCH_NAME','COUNTRY_CODE','BANK_ACCOUNT_NAME','BANK_ACCOUNT_NUM','CURRENCY_CODE','FOREING_PAYMENT_USE_FLAG',
'START_DATE','END_DATE','IBAN','CHECK_DIGITS','BANK_ACCOUNT_NAME_ALT','BANK_ACCOUNT_TYPE','ACCOUNT_SUFFIX','DESCRIPTION',
'AGENCY_LOCATION_CODE','EXCHANGE_RATE_AGREEMENT_NUM','EXCHANGE_RATE_AGREEMENT_TYPE','EXCHANGE_RATE','SECONDARY_ACCOUNT_REFERENCE',
'ATTRIBUTE_CATEGORY','ATTRIBUTE1','ATTRIBUTE2','ATTRIBUTE3','ATTRIBUTE4','ATTRIBUTE5','ATTRIBUTE6','ATTRIBUTE7','ATTRIBUTE8',
'ATTRIBUTE9','ATTRIBUTE10','ATTRIBUTE11','ATTRIBUTE12','ATTRIBUTE13','ATTRIBUTE14','ATTRIBUTE15']]
print(len(dataToSave.index), ' records of interest.')
dataToSave.to_csv(Path(workFolder, '5_2_Bank_Accounts.csv'), encoding='utf-8')

160814  records of interest.