##  Data from File 5.2 Bank Accounts

### Step 1. Load required packages

In [1]:
import pandas as pd
import pandasql as ps
from pathlib import Path

#### Step 2 - Get sample from source file

In [8]:
sourceFolder = '/content/drive/Shareddrives/Esperanto/Supports/Suppliers/5_Suppliers_Payees_BankAccounts'
workFolder = '/content/drive/Shareddrives/Esperanto/Supports/Suppliers/Work/5_Bank_Accounts'
fileName = '5.2. SUPPLIER_BANK_ACCOUNTS_COPPEL.csv'
inputTextFile = open(Path(sourceFolder, fileName), 'r', encoding='latin-1')
if inputTextFile:
    numTextLines = 0
    while True:
        numTextLines += 1
        textLine = inputTextFile.readline()
        print(textLine)
        if numTextLines >10:
            break
    inputTextFile.close()

'SISTEMA_LEGADO';'NUMERO_PROVEEDOR';'FEEDER_IMPORT_BATCH_ID';'TEMP_EXT_PAYEE_ID';'TEMP_EXT_BANK_ACCT_ID';'BANK_NAME';'BRANCH_NAME';'COUNTRY_CODE';'BANK_ACCOUNT_NAME';'BANK_ACCOUNT_NUM';'CURRENCY_CODE';'FOREING_PAYMENT_USE_FLAG';'START_DATE';'END_DATE';'IBAN';'CHECK_DIGITS';'BANK_ACCOUNT_NAME_ALT';'BANK_ACCOUNT_TYPE';'ACCOUNT_SUFFIX';'DESCRIPTION';'AGENCY_LOCATION_CODE';'EXCHANGE_RATE_AGREEMENT_NUM';'EXCHANGE_RATE_AGREEMENT_TYPE';'EXCHANGE_RATE';'SECONDARY_ACCOUNT_REFERENCE';'ATTRIBUTE_CATEGORY';'ATTRIBUTE1';'ATTRIBUTE2';'ATTRIBUTE3';'ATTRIBUTE4';'ATTRIBUTE5';'ATTRIBUTE6';'ATTRIBUTE7';'ATTRIBUTE8';'ATTRIBUTE9';'ATTRIBUTE10';'ATTRIBUTE11';'ATTRIBUTE12';'ATTRIBUTE13';'ATTRIBUTE14';'ATTRIBUTE15'

'OBRAS';'GAVE860528F18';'100';'9';'0009';'HSBC';'PROVEEDORES';'MX';'';'4057367294';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'021741040573672946';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'GASTOS';'BIO111108JC6';'100';'12';'00012';'BANORTE';'PROVEEDORES';'MX';'';'0808351359';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'072180008083513590';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'OBRAS';'BIO111108JC6';'100';'13';'00013';'BANORTE';'PROVEEDORES';'MX';'';'0808351359';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'072180008083513590';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'GASTOS';'DSE090511EW5';'100';'18';'00018';'AFIRME';'PROVEEDORES';'MX';'';'0108119934';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'062580001081199345';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'OBRAS';'DSE090511EW5';'100';'19';'00019';'AFIRME';'PROVEEDORES';'MX';'';'0108119934';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'062580001081199345';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'OBRAS';'TVC8607234U2';'100';'23';'00023';'SCOTIABANK';'PROVEEDORES';'MX';'';'0106635989';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'044180001066359890';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'GASTOS';'TVC8607234U2';'100';'24';'00024';'SCOTIABANK';'PROVEEDORES';'MX';'';'0106635989';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'044180001066359890';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'GASTOS';'ABS110113195';'100';'27';'00027';'SANTANDER';'PROVEEDORES';'MX';'';'2001659940';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'014180920016599407';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'OBRAS';'ABS110113195';'100';'28';'00028';'SANTANDER';'PROVEEDORES';'MX';'';'2001659940';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'014180920016599407';'';'';'';'';'';'';'';'';'';'';'';'';'';''

'OBRAS';'DUO7511286H3';'100';'37';'00037';'BANAMEX';'PROVEEDORES';'MX';'';'0046807810';'MXN';'N';'';'';'';'';'';'';'';'';'';'';'';'';'';'';'002180700468078106';'';'';'';'';'';'';'';'';'';'';'';'';'';''

### Step 3 - Load bank account data

In [11]:
df = pd.read_csv(Path(sourceFolder,fileName), sep=';', quotechar=chr(39), encoding='latin-1')
df.dtypes

SISTEMA_LEGADO                   object
NUMERO_PROVEEDOR                 object
FEEDER_IMPORT_BATCH_ID            int64
TEMP_EXT_PAYEE_ID                 int64
TEMP_EXT_BANK_ACCT_ID             int64
BANK_NAME                        object
BRANCH_NAME                      object
COUNTRY_CODE                     object
BANK_ACCOUNT_NAME               float64
BANK_ACCOUNT_NUM                float64
CURRENCY_CODE                    object
FOREING_PAYMENT_USE_FLAG         object
START_DATE                      float64
END_DATE                        float64
IBAN                            float64
CHECK_DIGITS                    float64
BANK_ACCOUNT_NAME_ALT           float64
BANK_ACCOUNT_TYPE               float64
ACCOUNT_SUFFIX                  float64
DESCRIPTION                     float64
AGENCY_LOCATION_CODE            float64
EXCHANGE_RATE_AGREEMENT_NUM     float64
EXCHANGE_RATE_AGREEMENT_TYPE    float64
EXCHANGE_RATE                   float64
SECONDARY_ACCOUNT_REFERENCE     float64
ATTRIBUTE_CATEGORY              float64
ATTRIBUTE1                       object
ATTRIBUTE2                      float64
ATTRIBUTE3                      float64
ATTRIBUTE4                      float64
ATTRIBUTE5                      float64
ATTRIBUTE6                      float64
ATTRIBUTE7                      float64
ATTRIBUTE8                      float64
ATTRIBUTE9                      float64
ATTRIBUTE10                     float64
ATTRIBUTE11                     float64
ATTRIBUTE12                     float64
ATTRIBUTE13                     float64
ATTRIBUTE14                     float64
ATTRIBUTE15                     float64
dtype: object

### Step 4 - Validate Bank Account & Tax ID

In [4]:
modDf = df
modDf['TAXID_VALIDATION'] = False
modDf['CLABE_VALIDATION'] = False
modDf['NUMERO_PROVEEDOR'] = modDf['NUMERO_PROVEEDOR'].astype(str) 
modDf['ATTRIBUTE1'] = modDf['ATTRIBUTE1'].astype(str)
for index, row in modDf.iterrows():
    taxID = row['NUMERO_PROVEEDOR']
    if len(taxID)==12 or len(taxID)==13:
        modDf.loc[index, 'CLABE_VALIDATION'] = True
    if len(row['ATTRIBUTE1'].replace('.0',''))==18:
        modDf.loc[index, 'CLABE_VALIDATION'] = True
print(modDf.head(10))

  SISTEMA_LEGADO NUMERO_PROVEEDOR  FEEDER_IMPORT_BATCH_ID  TEMP_EXT_PAYEE_ID  \
0          OBRAS    GAVE860528F18                     100                  9
1         GASTOS     BIO111108JC6                     100                 12
2          OBRAS     BIO111108JC6                     100                 13
3         GASTOS     DSE090511EW5                     100                 18
4          OBRAS     DSE090511EW5                     100                 19
5          OBRAS     TVC8607234U2                     100                 23
6         GASTOS     TVC8607234U2                     100                 24
7         GASTOS     ABS110113195                     100                 27
8          OBRAS     ABS110113195                     100                 28
9          OBRAS     DUO7511286H3                     100                 37

   TEMP_EXT_BANK_ACCT_ID   BANK_NAME  BRANCH_NAME COUNTRY_CODE  \
0                      9        HSBC  PROVEEDORES           MX
1                     12     BANORTE  PROVEEDORES           MX
2                     13     BANORTE  PROVEEDORES           MX
3                     18      AFIRME  PROVEEDORES           MX
4                     19      AFIRME  PROVEEDORES           MX
5                     23  SCOTIABANK  PROVEEDORES           MX
6                     24  SCOTIABANK  PROVEEDORES           MX
7                     27   SANTANDER  PROVEEDORES           MX
8                     28   SANTANDER  PROVEEDORES           MX
9                     37     BANAMEX  PROVEEDORES           MX

   BANK_ACCOUNT_NAME  BANK_ACCOUNT_NUM  ... ATTRIBUTE8 ATTRIBUTE9  \
0                NaN      4.057367e+09  ...        NaN        NaN
1                NaN      8.083514e+08  ...        NaN        NaN
2                NaN      8.083514e+08  ...        NaN        NaN
3                NaN      1.081199e+08  ...        NaN        NaN
4                NaN      1.081199e+08  ...        NaN        NaN
5                NaN      1.066360e+08  ...        NaN        NaN
6                NaN      1.066360e+08  ...        NaN        NaN
7                NaN      2.001660e+09  ...        NaN        NaN
8                NaN      2.001660e+09  ...        NaN        NaN
9                NaN      4.680781e+07  ...        NaN        NaN

   ATTRIBUTE10  ATTRIBUTE11  ATTRIBUTE12  ATTRIBUTE13  ATTRIBUTE14  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

   ATTRIBUTE15  CLABE_NUMCHAR  CLABE_VALIDATION
0          NaN             18              True
1          NaN             18              True
2          NaN             18              True
3          NaN             18              True
4          NaN             18              True
5          NaN             18              True
6          NaN             18              True
7          NaN             18              True
8          NaN             18              True
9          NaN             18              True

[10 rows x 43 columns]

In [5]:
sql_query = '''
SELECT CLABE_VALIDATION,COUNT(*) AS NumCases FROM df
GROUP BY CLABE_VALIDATION
ORDER BY NumCases DESC
'''
result = ps.sqldf(sql_query)
for index, row in result.iterrows():
    print(row['CLABE_VALIDATION'], ', ', row['NumCases'])

1 ,  164836
0 ,  7130

In [6]:
sql_query = '''
SELECT CLABE_NUMCHAR,COUNT(*) AS NumCases FROM df
GROUP BY CLABE_NUMCHAR
ORDER BY CLABE_NUMCHAR DESC
'''
result = ps.sqldf(sql_query)
for index, row in result.iterrows():
    print(row['CLABE_NUMCHAR'],' :', row['NumCases'])

20  : 36
18  : 164836
17  : 78
16  : 16
15  : 4
11  : 2
10  : 2
9  : 2
1  : 6990

In [9]:
workFolder = '/content/drive/Shareddrives/Esperanto/Supports/Suppliers/Work/5_Bank_Accounts'
ValidClabetDf = df.loc[df['CLABE_VALIDATION'] == True]
ValidClabetDf.to_csv(str(Path(workFolder,'ValidCabledDf.csv')), encoding='utf-8')

In [10]:
for column in list(ValidClabetDf.columns):
    print(column)

SISTEMA_LEGADO
NUMERO_PROVEEDOR
FEEDER_IMPORT_BATCH_ID
TEMP_EXT_PAYEE_ID
TEMP_EXT_BANK_ACCT_ID
BANK_NAME
BRANCH_NAME
COUNTRY_CODE
BANK_ACCOUNT_NAME
BANK_ACCOUNT_NUM
CURRENCY_CODE
FOREING_PAYMENT_USE_FLAG
START_DATE
END_DATE
IBAN
CHECK_DIGITS
BANK_ACCOUNT_NAME_ALT
BANK_ACCOUNT_TYPE
ACCOUNT_SUFFIX
DESCRIPTION
AGENCY_LOCATION_CODE
EXCHANGE_RATE_AGREEMENT_NUM
EXCHANGE_RATE_AGREEMENT_TYPE
EXCHANGE_RATE
SECONDARY_ACCOUNT_REFERENCE
ATTRIBUTE_CATEGORY
ATTRIBUTE1
ATTRIBUTE2
ATTRIBUTE3
ATTRIBUTE4
ATTRIBUTE5
ATTRIBUTE6
ATTRIBUTE7
ATTRIBUTE8
ATTRIBUTE9
ATTRIBUTE10
ATTRIBUTE11
ATTRIBUTE12
ATTRIBUTE13
ATTRIBUTE14
ATTRIBUTE15
CLABE_NUMCHAR
CLABE_VALIDATION

In [11]:
print(ValidClabetDf.head(10))

  SISTEMA_LEGADO NUMERO_PROVEEDOR  FEEDER_IMPORT_BATCH_ID  TEMP_EXT_PAYEE_ID  \
0          OBRAS    GAVE860528F18                     100                  9
1         GASTOS     BIO111108JC6                     100                 12
2          OBRAS     BIO111108JC6                     100                 13
3         GASTOS     DSE090511EW5                     100                 18
4          OBRAS     DSE090511EW5                     100                 19
5          OBRAS     TVC8607234U2                     100                 23
6         GASTOS     TVC8607234U2                     100                 24
7         GASTOS     ABS110113195                     100                 27
8          OBRAS     ABS110113195                     100                 28
9          OBRAS     DUO7511286H3                     100                 37

   TEMP_EXT_BANK_ACCT_ID   BANK_NAME  BRANCH_NAME COUNTRY_CODE  \
0                      9        HSBC  PROVEEDORES           MX
1                     12     BANORTE  PROVEEDORES           MX
2                     13     BANORTE  PROVEEDORES           MX
3                     18      AFIRME  PROVEEDORES           MX
4                     19      AFIRME  PROVEEDORES           MX
5                     23  SCOTIABANK  PROVEEDORES           MX
6                     24  SCOTIABANK  PROVEEDORES           MX
7                     27   SANTANDER  PROVEEDORES           MX
8                     28   SANTANDER  PROVEEDORES           MX
9                     37     BANAMEX  PROVEEDORES           MX

   BANK_ACCOUNT_NAME  BANK_ACCOUNT_NUM  ... ATTRIBUTE8 ATTRIBUTE9  \
0                NaN      4.057367e+09  ...        NaN        NaN
1                NaN      8.083514e+08  ...        NaN        NaN
2                NaN      8.083514e+08  ...        NaN        NaN
3                NaN      1.081199e+08  ...        NaN        NaN
4                NaN      1.081199e+08  ...        NaN        NaN
5                NaN      1.066360e+08  ...        NaN        NaN
6                NaN      1.066360e+08  ...        NaN        NaN
7                NaN      2.001660e+09  ...        NaN        NaN
8                NaN      2.001660e+09  ...        NaN        NaN
9                NaN      4.680781e+07  ...        NaN        NaN

   ATTRIBUTE10  ATTRIBUTE11  ATTRIBUTE12  ATTRIBUTE13  ATTRIBUTE14  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

   ATTRIBUTE15  CLABE_NUMCHAR  CLABE_VALIDATION
0          NaN             18              True
1          NaN             18              True
2          NaN             18              True
3          NaN             18              True
4          NaN             18              True
5          NaN             18              True
6          NaN             18              True
7          NaN             18              True
8          NaN             18              True
9          NaN             18              True

[10 rows x 43 columns]

In [14]:
sql_query = '''
SELECT NUMERO_PROVEEDOR,ATTRIBUTE1,COUNT(*) AS numObs FROM ValidClabetDf
GROUP BY NUMERO_PROVEEDOR,ATTRIBUTE1
ORDER BY numObs DESC
'''
ValidClabeWithCaseNum = ps.sqldf(sql_query)
ValidClabeWithCaseNum['numCase'] = 0
numCases = 1
for index, row in ValidClabeWithCaseNum.iterrows():
    ValidClabeWithCaseNum.loc[index, 'numCase'] = numCases
    numCases = numCases+1
print(ValidClabeWithCaseNum.head(10))

  NUMERO_PROVEEDOR          ATTRIBUTE1  numObs  numCase
0            45286  044630256032451519       5        1
1            19022  002028752400228503       4        2
2            22309  012180001147036695       4        3
3            23649  014180655020198282       4        4
4            30410  021671040569200104       4        5
5            34057  062580001231008082       4        6
6            47930  002263701144418896       4        7
7    AAGE230113CD0  002700038305532064       4        8
8    AEME900920V46  014650605597572727       4        9
9     DMI041025M13  002028752400229159       4       10

In [15]:
ValidClabeWithCaseNum.to_csv(str(Path(workFolder,'ValidClabeWithCaseNum.csv')), encoding='utf-8')