### Step 1. Load required packages

In [1]:
import pandas as pd
import pandasql as ps
from pathlib import Path

### Step 2 Load bank account data

In [2]:
sourceFolder = '/content/drive/Shareddrives/Esperanto/Supports/Suppliers/5_Suppliers_Payees_BankAccounts'
filename = '5.2. SUPPLIER_BANK_ACCOUNTS_COPPEL.csv'
df = pd.read_csv(Path(sourceFolder,filename), sep=';', quotechar=chr(39), encoding='latin-1')

In [3]:
df['BANK_ACCOUNT_NUM_STRING'] = None
df['BANK_ACCOUNT_NUM_NUMCHAR'] = 0
df['BANK_ACCOUNT_NUM_VALIDATION'] = False 
df['BANK_ACCOUNT_NUM'] = df['BANK_ACCOUNT_NUM'].astype(str)
for index, row in df.iterrows():
    accountNum = row['BANK_ACCOUNT_NUM'].replace('.0','')
    numChars = len(accountNum)
    df.loc[index, 'BANK_ACCOUNT_NUM_NUMCHAR'] = numChars
    if numChars >= 18:
        df.loc[index, 'BANK_ACCOUNT_NUM_VALIDATION'] = True
print(df.head(10))

  SISTEMA_LEGADO NUMERO_PROVEEDOR  FEEDER_IMPORT_BATCH_ID  TEMP_EXT_PAYEE_ID  \
0          OBRAS    GAVE860528F18                     100                  9
1         GASTOS     BIO111108JC6                     100                 12
2          OBRAS     BIO111108JC6                     100                 13
3         GASTOS     DSE090511EW5                     100                 18
4          OBRAS     DSE090511EW5                     100                 19
5          OBRAS     TVC8607234U2                     100                 23
6         GASTOS     TVC8607234U2                     100                 24
7         GASTOS     ABS110113195                     100                 27
8          OBRAS     ABS110113195                     100                 28
9          OBRAS     DUO7511286H3                     100                 37

   TEMP_EXT_BANK_ACCT_ID   BANK_NAME  BRANCH_NAME COUNTRY_CODE  \
0                      9        HSBC  PROVEEDORES           MX
1                     12     BANORTE  PROVEEDORES           MX
2                     13     BANORTE  PROVEEDORES           MX
3                     18      AFIRME  PROVEEDORES           MX
4                     19      AFIRME  PROVEEDORES           MX
5                     23  SCOTIABANK  PROVEEDORES           MX
6                     24  SCOTIABANK  PROVEEDORES           MX
7                     27   SANTANDER  PROVEEDORES           MX
8                     28   SANTANDER  PROVEEDORES           MX
9                     37     BANAMEX  PROVEEDORES           MX

   BANK_ACCOUNT_NAME BANK_ACCOUNT_NUM  ... ATTRIBUTE9 ATTRIBUTE10  \
0                NaN     4057367294.0  ...        NaN         NaN
1                NaN      808351359.0  ...        NaN         NaN
2                NaN      808351359.0  ...        NaN         NaN
3                NaN      108119934.0  ...        NaN         NaN
4                NaN      108119934.0  ...        NaN         NaN
5                NaN      106635989.0  ...        NaN         NaN
6                NaN      106635989.0  ...        NaN         NaN
7                NaN     2001659940.0  ...        NaN         NaN
8                NaN     2001659940.0  ...        NaN         NaN
9                NaN       46807810.0  ...        NaN         NaN

   ATTRIBUTE11  ATTRIBUTE12  ATTRIBUTE13  ATTRIBUTE14  ATTRIBUTE15  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

   BANK_ACCOUNT_NUM_STRING  BANK_ACCOUNT_NUM_NUMCHAR  \
0                     None                        10
1                     None                         9
2                     None                         9
3                     None                         9
4                     None                         9
5                     None                         9
6                     None                         9
7                     None                        10
8                     None                        10
9                     None                         8

   BANK_ACCOUNT_NUM_VALIDATION
0                        False
1                        False
2                        False
3                        False
4                        False
5                        False
6                        False
7                        False
8                        False
9                        False

[10 rows x 44 columns]

In [4]:
sql_query = '''
SELECT BANK_ACCOUNT_NUM_VALIDATION,COUNT(*) AS NumCases FROM df
GROUP BY BANK_ACCOUNT_NUM_VALIDATION
ORDER BY NumCases DESC
'''
result = ps.sqldf(sql_query)
for index, row in df.iterrows():
    print(row)

KeyError: 'NumCases'