### Step 1. Load required packages

In [1]:
import pandas as pd
import pandasql as ps
from pathlib import Path

### Step 2 Load bank account data

In [2]:
sourceFolder = '/content/drive/Shareddrives/Esperanto/Supports/Suppliers/5_Suppliers_Payees_BankAccounts'
filename = '5.2. SUPPLIER_BANK_ACCOUNTS_COPPEL.csv'
df = pd.read_csv(Path(sourceFolder,filename), sep=';', quotechar=chr(39), encoding='latin-1')

In [3]:
df['CLABE_NUMCHAR'] = 0
df['CLABE_VALIDATION'] = False 
df['ATTRIBUTE1'] = df['ATTRIBUTE1'].astype(str)
for index, row in df.iterrows():
    accountNum = row['ATTRIBUTE1'].replace('.0','')
    numChars = len(accountNum)
    df.loc[index, 'CLABE_NUMCHAR'] = numChars
    if numChars = 18:
        df.loc[index, 'CLABE_VALIDATION'] = True
print(df.head(10))

  SISTEMA_LEGADO NUMERO_PROVEEDOR  FEEDER_IMPORT_BATCH_ID  TEMP_EXT_PAYEE_ID  \
0          OBRAS    GAVE860528F18                     100                  9
1         GASTOS     BIO111108JC6                     100                 12
2          OBRAS     BIO111108JC6                     100                 13
3         GASTOS     DSE090511EW5                     100                 18
4          OBRAS     DSE090511EW5                     100                 19
5          OBRAS     TVC8607234U2                     100                 23
6         GASTOS     TVC8607234U2                     100                 24
7         GASTOS     ABS110113195                     100                 27
8          OBRAS     ABS110113195                     100                 28
9          OBRAS     DUO7511286H3                     100                 37

   TEMP_EXT_BANK_ACCT_ID   BANK_NAME  BRANCH_NAME COUNTRY_CODE  \
0                      9        HSBC  PROVEEDORES           MX
1                     12     BANORTE  PROVEEDORES           MX
2                     13     BANORTE  PROVEEDORES           MX
3                     18      AFIRME  PROVEEDORES           MX
4                     19      AFIRME  PROVEEDORES           MX
5                     23  SCOTIABANK  PROVEEDORES           MX
6                     24  SCOTIABANK  PROVEEDORES           MX
7                     27   SANTANDER  PROVEEDORES           MX
8                     28   SANTANDER  PROVEEDORES           MX
9                     37     BANAMEX  PROVEEDORES           MX

   BANK_ACCOUNT_NAME  BANK_ACCOUNT_NUM  ... ATTRIBUTE8 ATTRIBUTE9  \
0                NaN      4.057367e+09  ...        NaN        NaN
1                NaN      8.083514e+08  ...        NaN        NaN
2                NaN      8.083514e+08  ...        NaN        NaN
3                NaN      1.081199e+08  ...        NaN        NaN
4                NaN      1.081199e+08  ...        NaN        NaN
5                NaN      1.066360e+08  ...        NaN        NaN
6                NaN      1.066360e+08  ...        NaN        NaN
7                NaN      2.001660e+09  ...        NaN        NaN
8                NaN      2.001660e+09  ...        NaN        NaN
9                NaN      4.680781e+07  ...        NaN        NaN

   ATTRIBUTE10  ATTRIBUTE11  ATTRIBUTE12  ATTRIBUTE13  ATTRIBUTE14  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

   ATTRIBUTE15  CLABE_NUMCHAR  CLABE_VALIDATION
0          NaN             18              True
1          NaN             18              True
2          NaN             18              True
3          NaN             18              True
4          NaN             18              True
5          NaN             18              True
6          NaN             18              True
7          NaN             18              True
8          NaN             18              True
9          NaN             18              True

[10 rows x 43 columns]

In [5]:
sql_query = '''
SELECT CLABE_VALIDATION,COUNT(*) AS NumCases FROM df
GROUP BY CLABE_VALIDATION
ORDER BY NumCases DESC
'''
result = ps.sqldf(sql_query)
for index, row in result.iterrows():
    print(row['CLABE_VALIDATION'], ', ', row['NumCases'])

1 ,  164872
0 ,  7094

In [6]:
sql_query = '''
SELECT CLABE_NUMCHAR,COUNT(*) AS NumCases FROM df
GROUP BY CLABE_NUMCHAR
ORDER BY CLABE_NUMCHAR DESC
'''
result = ps.sqldf(sql_query)
for index, row in result.iterrows():
    print(row['CLABE_NUMCHAR'],' :', row['NumCases'])

20  : 36
18  : 164836
17  : 78
16  : 16
15  : 4
11  : 2
10  : 2
9  : 2
1  : 6990

In [ ]:
ValidAccountDf = df.loc[df['CLABE_VALIDATION'] == some_value]